.title{
    font-style: italic;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow: 2px 2px gray;
}

.dashboardWrapper{
    background-color: rgb(206, 227, 227);
    min-height: 90vh;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.dashboardContainer{
    background-color: rgb(143, 131, 155);
    border: 2px double black;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 10px;
    /* position: inherit; */
    /* height: 40vh; */
    display: flex;
    font-family: serif;
    font-weight: 600;
    /* width: 95vw; */
    /* flex-direction: column; */
}
.dashboardContainer .dashboardBody{
    width: 80%;
    display: flex;
    align-items: center;
    /* margin: auto 5; */
    /* flex-direction: column; */
}

.dashboardBody .habitName{
    width: 30%;
    height: 60%;
    background-image: linear-gradient(rgb(192, 183, 183), rgb(118, 118, 126));
    position: relative;
    /* top: 20px; */
    box-sizing: border-box;
    padding: 60px;
}

.dashboardContainer .dashboardLeft{

    background-color: bisque;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardContainer .dashboardRight{
    width: 80%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* width: 100%; */
}

.dashboardContainer  .dates, .dashboardContainer .weekDays{
    border: 2px solid black;
    height: 40%;
    display: flex;
}
.dashboardContainer .dates >div{
    width: 100px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 2px;
    /* padding: 5px; */
    /* width: 105px; */
    /* display: inline-block; */
    font-size: large;
    align-items: center;

}

img{
    width: 30px;
    /* height: 40px; */
}
