body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader{
  height:50px;
  width:50px;
  border: 4px solid rgba(66, 177, 32, 0.436);
  border-top:4px solid black !important;
  border-radius:  50%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loginWrapper{
  padding: 10px;
  margin: 0;
  /* background-color: bisque; */
  height: 85vh;
  /* border: 2px solid black; */
}




.loginWrapper .loginContainer{
  background-color: white;
  width: 50vw;
  padding: 10px;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
}

.loginWrapper .loginContainer form{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  padding: 3px;
  align-items: center;
}

.loginContainer form > input{
  font-size: larger;
  margin: 5px;
  width: 80%;
  border: none;
  border-bottom: 2px solid black;
}

.loginContainer form > input:focus{
  background-color: rgb(133, 158, 158);
  color: aliceblue;
}

.loginContainer form > button {
  margin: 5px;
  width: 60%;
  border-radius: 5px;
  padding: 8px;
  transition: 0.5s ease-in-out;
}
.loginContainer form > button:hover{
  transform: scaleX(1.4) scaleY(1.2);
}
